@font-face {
    font-family: "Michroma";
    src: url("/assets/fonts/michroma/michroma-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saira";
    src: url("/assets/fonts/saira/saira-regular.woff2") format("woff2");
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-heading: "Michroma";
    --font-body: "Saira";

    --color-primary: #5230e5;
    --color-secondary: #f5f5f5;
    --color-default: #fff;
}

[x-cloak] {
    display: none !important;
}
